.main-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.background img{
    top: 0;
    right: 0;
    position:fixed; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.card{
    top: 10vh;
    display: flex;
    justify-content: center;
    position: absolute;
    height:400px;
    width: 450px;
    background-color: #FFFFFF;
    z-index: 4;
    transform: translateY(10vh);
    border-radius:15px;
    box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.6);
}
